
.uppy-wrapper .cropper-view-box,
.uppy-wrapper .cropper-face {
  border-radius: 50%;
}

/* The css styles for `outline` do not follow `border-radius` on iOS/Safari (#979). */
.uppy-wrapper .cropper-view-box {
  outline: 0;
  box-shadow: 0 0 0 1px #39f;
}

.uppy-wrapper .uppy-Dashboard-Item-previewImg {
  border-radius: 50% !important;
}

.uppy-wrapper .uppy-Dashboard-AddFiles {
  border-radius: 0.375rem;
}

.uppy-wrapper .uppy-Dashboard-inner {
  border-radius: 0.375rem;
}

.uppy-wrapper .uppy-Dashboard-AddFiles-info {
  display: none;
}

/* Dark mode styles */
.dark .uppy-wrapper .uppy-Dashboard-AddFiles {
  border-color: rgb(30 41 59);
}

.dark .uppy-wrapper .uppy-Dashboard-inner {
  border-color: rgb(30 41 59);
  background-color: rgb(2 6 23);
}

.dark .uppy-wrapper .uppy-DashboardContent-bar {
  border-color: rgb(30 41 59);
  background-color: rgb(2 6 23);
}
